/* this targets the general color code for the letters
and creates my lovely nonmeshing background image that will need an update eventually */
body { 
    background-image: url(../images/1916123.jpg);
    color:white;
}
/* these are header and nav stylings and flexboxing */
#home {
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    padding: 1% 0 1% 0;
    background-color: rgba(21, 83, 138, .7);
    width:100%;
 }

#home h1{
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    width:60%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.nav a{
    text-decoration:none;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    display:flex;
    font-size:1.5vw;
    margin-right: 20%;
}
/* this makes it so the links to the page are underlined when hovered over */
.nav a:hover {
    text-decoration:underline;
}
/* these sets rule over the about me section */
#hero {
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between;
    height:10vh;
    padding-top:2%;
    padding-bottom:1%;
    width:100%;
    
}

.label {
    width:20%;
    padding-left: 1%;
    border-right: 1px solid white;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vw;
    text-decoration: underline;
}

#aboutme {
    width:70%;
    padding-left:1%;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1vw;

}

#aboutme h1{
    font-size: 2.5vw;
}
#hero img {
    width: 10%;
    height:55%;
    border-radius:100%;
    border-color:rgba(21, 83, 138, 1);
    position:absolute;
    
}
/* this sets the rules for the portfolio section */
.pages{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

#work{
    width:70%;
    padding-left:1%;
    display:flex;
    flex-wrap:wrap;
}
/* a pseudo element to overlay the horiseon website  */
#container1::before {
    content:'Springs and Swimming holes of Florida';
    width:15%;
    height:10%;
    position:relative;
    background-color: rgba(21, 83, 138, 1);
    top:50%;
    display:block;
    z-index: 2;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5vw;
    border-radius:12%;
}
/* this styles the horiseon image and creates a cool blur effect */
#container1 img{
    border:solid rgba(21, 83, 138, .7);;
    border-radius:10%;
    width:100%;
    display:flex;
    background:rgba(0,0,0, 0.3);
    top:0;
    left:0;
    filter:blur(5px);
}
/* this rule sharpens the horiseon image when it is hovered over */
#container1 img:hover {
    filter:none;
    transition: filter .2s;
 }
/* these rulesets sets the styling for the four smaller pages */
.work-container {
    width:45%;
    padding-bottom:3%;
    padding-right:3%;
    padding-top: 3%;
}
.work-container-1 {
    width:45%;
    padding-bottom:3%;
    padding-right:3%;
    padding-top: 3%;
}
/* the rules and blurring of the smaller images */
.work-container img {
    width:100%;
    height:100%;
    border:solid rgba(21, 83, 138, .7);
    border-radius:10%;
    filter:blur(5px);
}
.work-container-1 img {
    width:100%;
    height:100%;
    border:solid rgba(21, 83, 138, .7);
    border-radius:10%;
    filter:blur(5px);
}
/* the sharpening of the smaller images */
.work-container img:hover {
    filter:none;
    transition: filter .2s;
 }
 .work-container-1 img:hover {
    filter:none;
    transition: filter .2s;
 }
 /* this will have to be updated as this becomes a real portfolio,
  as the placeholders get phased out into real projects */
.work-container::before {
    content:'Placeholder';
    width:25%;
    height:20%;
    position:relative;
    z-index:2;
    background-color:rgba(21, 83, 138, .7);
    top:45%;
    display:flex;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.5vw;
    border-radius:12%;
    padding:1%;
}
.work-container-1::before {
    content:'Horiseon Web Solutions';
    width:25%;
    height:20%;
    position:relative;
    z-index:2;
    background-color:rgba(21, 83, 138, .7);
    top:45%;
    display:flex;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.5vw;
    border-radius:12%;
    padding:1%;
}
/* this sets general rules for the footer */
footer {
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    padding: 1% 0 1% 0;
    width:100%;
 }
 /* lots of flexboxing to get it the way it needed to go */
#contactme {
    width:79%;
}
#links {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
/* styling of the contact links */
#links a {
    color:white;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2vw;
    text-decoration: none;
    
}
/* the underline effect for the links */
#links a:hover{
    text-decoration:underline;
}
/* media queries for little monitors */
@media screen and (min-width: 768px) {
    
    #work {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    #container1{
      flex-grow: 1;
    }
    
    
  }
/* media queries for larger screens */
@media screen and (min-width: 992px) {
    header {
      min-width: 75%;
    }
  
    #work {
      flex: 0 0 75%;
      max-width: 100%;
    }
  }