*{
    flex-shrink:5;
}
body { 
    background-image: url(../images/1916123.jpg);
    color:white;
}

#home {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1rem;
    background-color: rgba(21, 83, 138, .7);
 }
#home h1{
    font-size: 44px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/* #home::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
} */
.nav {
    width:60%;
    display:flex;
    justify-content:space-between;
}

.nav a{
    text-decoration:none;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    display:flex;
    font-size:1.5em;
}
.nav li:hover {
    text-decoration:underline;
}

#hero {
   
    display: flex;
     flex-wrap:wrap; 
     height:10vh;
     padding-top:2%;
     padding-bottom:1%;
    /* justify-content: center;  
    align-items:center;
    position:relative;
    padding-top:10% */
    /* border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center; 
    filter: blur(20px);
    -webkit-filter: blur(1px);
    border-radius: 5px; */
    /* width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden; */
}
/* #hero h1 {
    font-weight:normal;
    font-size: 4REM;
    margin:0;
    display:flex;
    /* justify-content:center; 
    align-items:center;
} */
#hero::before {
   
    /* content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px; */
}

.pages p{
    
   
}
#aboutme-label {
    width: 20%;
    padding-left:1%;
    border-right:1px solid white;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:3em;
    text-decoration: underline;
}
#aboutme {
    width:70%;
    padding-left:1%;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.5em;
}
#aboutme h1{
    font-size:2em;
}
.pages{
display:flex;
flex-wrap:wrap;
margin-bottom:1%;
}

#work-label {
width:20%;
padding-left:1%;
border-right:1px solid white;
font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:3em;
    text-decoration: underline;
}

#work{
    width:70%;
    padding-left:1%;
    display:flex;
    flex-wrap:wrap;
}

#container1::before {
    content:'Horiseon web solutions';
    width:15%;
    height:10%;
    position:absolute;
    background-color: rgba(21, 83, 138, 1);
    top:50%;
    display:block;
    z-index: 2;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    border-radius:12%;
}
#container1 img{
    border:solid rgba(21, 83, 138, .7);;
    border-radius:10%;
    width:100%;
    display:block;
    background:rgba(0,0,0, 0.3);
    top:0;
    left:0;
    filter:blur(5px);
    
}

#container1 img:hover {
    filter:none;
    transition: filter .2s;
 }

 #container1 a p:hover {
    position:relative;
    z-index:2;
    top:-40%;
    text-decoration:none;
    color:white;
 }
 

#container1{
    position:relative;
    
}

.work-container {
    width:45%;
    padding-bottom:3%;
    padding-right:3%;
    padding-top: 3%;
    position:relative;
}

.work-container img {
    width:100%;
    height:100%;
    border:solid rgba(21, 83, 138, .7);;
    border-radius:10%;
    filter:blur(5px);
}

 .work-container img:hover {
    filter:none;
    transition: filter .2s;
 }
 
.work-container::before {
    content:'Placeholder';
    width:25%;
    height:10%;
    position:absolute;
    z-index:2;
    background-color:rgba(21, 83, 138, .7);
    top:45%;
    display:block;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    border-radius:12%;
    padding:1%;
}
footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    bottom:0%;
}
#contactme-label {
    width: 20%;
    padding-left:1%;
    border-right:1px solid white;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:3em;
    text-decoration: underline;
    
}
#contactme {
    width:70%;
    

}
#links a {
    color:white;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    width:80%;
    padding-right: 25%;
    text-decoration: none;
    
}
#links a:hover{
    text-decoration:underline;
}



















/* .frosted-glass{
    position:sticky;
    top:10px;
    /* background-attachment: fixed;
    background: inherit;
    filter:blur(5px); 
    
}

.frosted-glass::after {
    background-attachment: fixed;
    background: inherit;
    filter:blur(5px);
    margin: -20px -20px -20px -20px;
} 
body { 
    background-image: url(../images/1916123.jpg);
}

* {
    color:aliceblue;
}
 ul  {
    display:flex;
    padding:50px;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    border: solid;
}
li {
    display:grid;
    border:solid;
    border-radius: 24%;
    max-width:50px;
}
header h1 {
    color: red;
    font-size:35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.aboutme {
    margin-top: 20px;

}

nav {
    display:flex;
    justify-content: flex-end;
    
}
nav ul {
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:red
}  */